<!doctype html>
<html>
    <head>
        <title>Blog Here</title>
    </head>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="styles.css">
    <nav>
    <a href="/newpost">Add Post</a>
    </nav>
    <nav> <a href="/blog">All Posts</a>
    </nav>
    <nav> <a href="/login">Login</a>
    </nav>
    <nav> <a href="/">Home</a>
    </nav>
    <nav> <a href="/register">Register</a>
    </nav>
    <nav> <a href="/logout">RETREAT!!!!</a>
    </nav>
    <style>
            .error {
                color: red;
            }
        </style>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>