
{% extends "base.html" %}
{% block content %}
   
     <h1>Sign Up!</h1>
        <form action="/register" method="post">
            <input type="text" name="user_name" value="{{ user_name }}">
                    {% if user_error %}
                        <span class="error"> {{ user_error }} </span>
                    {% endif %}
                    <br>
                    <input type="password" name="password"  value="{{ password }}">
                    {% if password_error %}
                        <span class="error">{{ password_error }}</span>
                    {% endif %}
                    <br>
                     <input type="password" name="vpassword" value="{{ vpassword }}">
                    {% if vpassword_error %}
                        <span class="error"> {{ vpassword_error }} </span>
                    {% endif %}
                    <button type="submit">Register</button>
                </form>
            
{% endblock %}